<div class="navbar">
	<a class="home" href="{{path('dashboard')}}">
		<span class="icon material-symbols-outlined invert">home</span>
	</a>
	<div class="center">
		<a href="#">
			<span class="material-symbols-outlined invert">
				description
			</span>
		</a>
		<a href="{{path('statistics')}}">
			<span class="material-symbols-outlined invert">
				analytics
			</span>
		</a>
		<a href="{{path('questionsLibrary')}}">
			<span class="material-symbols-outlined invert">
				quiz
			</span>
		</a>
		<a href="{{path('app_consumer_index')}}">
			<span class="material-symbols-outlined invert">
				group
			</span>
		</a>
	</div>
	<a class="settings" href="#">
		<span class="material-symbols-outlined invert">
			settings
		</span>
	</a>
	<a class="logout" href="{{path('app_logout')}}">
		<span class="material-symbols-outlined invert">
			logout
		</span>
	</a>
</div>
