{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.limitDate) }}
    {{ form_row(form.public) }}

    <h2>Questions</h2>
    <div id="form_questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
        {% for question in form.questions %}
            <div>
                {{ form_row(question.entitled) }}
                <button class="remove-question">Supprimer question</button>
            </div>
        {% endfor %}
    </div>
    
    <button id="add-question">Ajouter question</button>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script>
	// Récupérer le conteneur qui contiendra les questions
    let questionsContainer = document.querySelector('#form_questions');

    // Ajouter un écouteur d'événements pour le bouton "Ajouter questions"
    document.querySelector('#add-question').addEventListener('click', function (e) { // Obtenir le nombre de questions actuellement dans le conteneur
        let index = questionsContainer.children.length;

        // Créer une nouvelle questions en clonant le modèle de questions
        let prototype = questionsContainer.dataset.prototype.replace(/__name__/g, index);
        let newAnswer = document.createElement('div');
        newAnswer.innerHTML = prototype;

        // Ajouter la nouvelle questions au conteneur
        questionsContainer.appendChild(newAnswer);

        e.preventDefault();
    });

    questionsContainer.addEventListener('click', (event) => {
        if (event.target.classList.contains('remove-answer')) {
            const answerDiv = event.target.parentElement;
            answerDiv.remove();
        }
    });


</script>