{% extends 'base.html.twig' %}

{% set title = 'Modification sondage' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="overlay"></div>

    {{ include('overlay/_navbar.html.twig') }}
    {{ include('overlay/_topbar.html.twig') }}

    {{ include('poll/_edit_form.html.twig') }}

    <a href="{{ path('app_poll_index') }}">back to list</a>

{% endblock %}
