{% extends 'base.html.twig' %}
{% set title = 'Modifier Question a nombre' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	{{ include('overlay/_navbar.html.twig') }}
	{{ include('overlay/_topbar.html.twig') }}
	<div class="main edit-questions shadow">
		{{ include('question_number/_form.html.twig', {'save_button': 'true'}) }}
		{{ include('question_number/_delete_form.html.twig') }}
	</div>
{% endblock %}
