{% extends 'base.html.twig' %}
{% set title = 'Modifier Question a texte' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	{{ include('overlay/_navbar.html.twig') }}
	{{ include('overlay/_topbar.html.twig') }}
	<div class="main edit-questions shadow">

		{{ include('question_text/_form.html.twig', {'save_button': 'true'}) }}
		{{ include('question_text/_delete_form.html.twig') }}
	</div>
{% endblock %}
